.ae-content{
		.hero {
			position: relative;
			border-bottom:6px solid @teal;
			margin-bottom: 10px;			
			z-index:1;
			&:not(.empty){
				.slider-img:after, .hero-img:after{
	  				position: absolute;
	  				top: 0;
	  				left: 0;
	  				width: 100%;
	  				height: 100%;
	  				content: '.';
				}

				&.dark-gradient .slider-img:after, &.dark-gradient .hero-img:after{
					background: url('../img/global/dark_gradient.png') repeat-x top;
				}

				&.light-gradient .slider-img:after, &.light-gradient .hero-img:after{
					background: url('../img/global/light_gradient.png') repeat-x top;
				}
			}

			.ae-search{
				position: absolute;
				left:0%;
				top:20px;
				width:100%;
	    		font-family: 'BentonSans Thin', Arial, Helvetica;
				z-index: 99; /*put search underneath the SalesForce menus*/

	    		.searchWrapper {
	    			position:relative;
	    			width: 80%;
	    			margin:0 auto;
	    			height:44px;
	    			padding:0;


	    			.searchInput {
				    	width:100%;
				    	position: relative;
				    	padding-right: 20px;

				    	&:after{
				    		content: '.';
						    position: absolute;
						    height: 46px;
						    width: 1px;
						    background-color: #fff;
						    right: 0;
				    	}

				    	td {
				    		padding-left:10px;
				    	}

			    		.icn-search {
				    		width:25px;
							height: 25px;
							position: absolute;
							top: 10px;
							left: 15px;
						    .sprite(@icon-search);
						    .icn-sprite;
						    background-color: transparent;
						    z-index:3;
					    }

					    input {
							float: left;
							width:100%;
							padding:12px 0 12px 0px;
							text-indent:55px;
							border: none;
							background-color: rgba(255, 255, 255, 0.6);
						    box-shadow: 0px 0px 3px #ccc;
						    font-family: @benton-book;
						    font-size:17px;
						    color:@grey-fonts;
						    line-height:22px; /* fixes text-indent in IE9 */

						    @media (max-width : 1000px) {
								font-size: 16px;
							}	


						    &:focus {
								outline: none;
							}

						    &::-webkit-input-placeholder {
							    color:@grey-fonts;
							    padding-left: 0px;
							}

							&:-moz-placeholder { /* Firefox 18- */
							    color:@grey-fonts;
							    padding-left: 0px;
							}

							&::-moz-placeholder {  /* Firefox 19+ */
							    color:@grey-fonts;
							    padding-left: 0px;
							}

							&:-ms-input-placeholder {  
							    color:@grey-fonts;
							    padding-left: 0px;
							}
						}
					}

					.button {
						position: relative;
					    float: left;
					    padding: 12px 0 12px 0;
					    border: 1px solid #616469;
					    font: 16px 'BentonSans Book';
					    color: #464749;
					    min-height: 18px;
					    background: #efefef;
					    width: 125px;
					    margin-left: 17px;
					    margin-right: -5px;
					    text-decoration: none;
					    text-align: center;
						
						&:hover {
						   	background-color: #d1d3d5;

						   	.icn-profile {
						   		background-position: -38px -175px;
						   	}

						   	.icn-groups {
						    	background-position: -35px -142px;
						    }
						}

						.icn-profile {
							position: absolute;
							left:20px;
							top:8px;

						    .sprite(@icon-profile);
						    .icn-sprite;
						}

						.icn-groups {
							position: absolute;
							left:20px;
							top:10px;
						    .sprite(@icon-groups);
						    .icn-sprite;
						}
					}
				}			
			}

			h2 {
				position: absolute;
				width:100%;
				top:34%;
				text-align: center;
				font:45px 'BentonSans Light', Arial, Helvetica;
				color: #4b4b4b;
				margin:0;
			}

		}

		&[data-page='category']{
			.hero{
				min-height: 0px;
			}
		}

	&[data-page='article']{
		.hero{

			border-bottom:9px solid @teal;

			&.no-img{
				border-bottom:0;
				.top-gradient;
			}
		}
	}
}